<%-include("../../partials/head") %>
<form method="POST" action="/messages/<%=message.message_id%>/edit">
  <h1>Edit message</h1>
  <div class="form-group">
    <input
      type="text"
      name="messageTitle"
      value="<%=message.message_title %>"
      id="m-title"
      placeholder="Title"
      required
    />
  </div>
  <div class="form-group">
    <textarea name="messageBody" id="m-body"></textarea>
  </div>
  <div class="info-box"><%-include("../../partials/errors") %></div>
  <div class="form-actions">
    <button type="submit">Save changes</button>
    <a href="/" class="btn btn-cancel">Go back</a>
  </div>
</form>

<script>
  // Manually add the message body, textarea doesnt have a value attribute
  document.getElementById("m-body").value = "<%=message.message_body %>";
</script>
